// Colors
$primary: indigo;
$res-gray-700: #574b61;

// Default Bootstrap Grays
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Border
$res-border-radius-s: 4px;
$res-border-radius-m: 8px;
$res-border-radius-l: 12px;
